.bottom-bar {
    background-color: #f4f4f4;
    .border-right {
        border-right: 1px solid #fff;
    }
}

.opening-hours {
    text-align: right;
}

ion-card-title {
    font-size: 20px;
}

.card-details {
    padding: 5px;
    margin: 0 0 2px;
    color: #666;
}
